<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fully Belly Catalog</title>
</head>
<body>
    <header>
        <div class="header_container">
            <div class="header_inner">
                <h1 class="header_title">
                    Fully Belly Catalog
                </h1>
            </div>

            <a id="menu" class="header_menu">☰</a>
            
            <nav id="drawer" class="nav">
                <ul class="nav_list">
                    <li class="nav_item"><a href="/">Home</a></li>
                    <li class="nav_item"><a href="#">Favorite</a></li>
                    <li class="nav_item"><search-box></search-box></li>
                    <li class="nav_item"><a href="#about-us">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="hero">
        <div class="hero_inner">
            <h1 class="hero_title">
                Lapar? Haus?
            </h1>
            <p class="hero_tag">
                Yuk cari tau tempat jajan yang enak dan asik buat kamu sendiri, bareng doi, atau rame-rame
            </p>
        </div>
    </div>
    <main>
        <section class="content">
            <div class="resto_list">
                <h1 class="explore_resto">Explore The Restaurant</h1>
                <resto-list></resto-list>
            </div>
        </section>
        <section class="about-us" id="about-us">
            <div class="about">
                <h1 class="about-us-teks">About Us</h1>
                <div class="about-content">
                    <figure class="about_us_figure">
                        <img src="../images/heros/hero-image_1.jpg" alt="Chef Image">
                        <figcaption>Chef made delicious food</figcaption>
                    </figure>
                    <div class="about_us_content">
                        <p class="about_us_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
                            facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. Accusantium ad amet
                            asperiores, aut commodi corporis dicta distinctio ducimus expedita itaque laudantium magnam maiores,
                            nobis obcaecati officiis provident quasi qui quos repellat rerum saepe sint soluta veniam vero
                            vitae, voluptas voluptate voluptatem. Esse nobis non nulla optio vero. Laudantium!</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <i class="copyright">&copy; 2021, Zulham (Sans Storm)</i>
        <ul>
            <li><a href="#">Linkedin</a></li>
            <li><a href="https://github.com/Z4nR">Github</a></li>
            <li><a href="mailto:sans.creative.industry@gmail.com">Email</a></li>
        </ul>
    </footer>
</body>
</html>
