<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="this website is show you the unique cafe or restaurants in near you.">
    <title>Fully Belly Catalog</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <header>
        <div class="header_container">
            <div class="header_inner">
                <h1 class="header_title">
                    Fully Belly Catalog
                </h1>
            </div>

            <a aria-label="Hamburger Button" href="#" id="menu" class="header_menu">☰</a>
            
            <nav id="drawer" class="nav">
                <ul class="nav_list">
                    <li class="nav_item"><a href="/">Home</a></li>
                    <li class="nav_item"><a href="#">Favorite</a></li>
                    <li class="nav_item"><search-box></search-box></li>
                    <li class="nav_item"><a href="https://www.instagram.com/_zul_zulham_/">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="hero">
        <div class="hero_inner">
            <h1 class="hero_title">
                Lapar? Haus?
            </h1>
            <p class="hero_tag">
                Yuk cari tau tempat jajan yang enak dan asik buat kamu sendiri, bareng doi, atau rame-rame
            </p>
        </div>
    </div>
    <main id="maincontent">
        <section class="content">
            <div class="resto_list">
                <h1 class="explore_resto">Explore The Restaurant</h1>
                <resto-list aria-label="Restaurants Item"></resto-list>
            </div>
        </section>
        <section class="about-us" id="about-us">
            <div class="about">
                <h1 class="about-us-teks">About Us</h1>
                <div class="about-content">
                    <figure class="about_us_figure">
                        <img src="../images/heros/hero-image_1.jpg" alt="Chef Image">
                        <figcaption>Info : Chef made delicious food</figcaption>
                    </figure>
                    <div class="about_us_content">
                        <div class="about_us_description">Love to explore a nice, fun and definitely unique place to eat? But confused where? Fully Belly Catalog Solution. Fully
                            Belly has the meaning of a full stomach which represents that this website recommends places to eat that make you
                            satisfied to eat there. Fully Belly is an online catalog website that lists places to eat that you have never met before. Let's explore unique
                            places and save them in favorites, for you to come to next time. Happy Belly, Happy People</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <i class="copyright">&copy; 2021, Zulham (Sans Storm)</i>
        <ul>
            <li><a href="https://www.linkedin.com/in/zulham-ari-nur-ridhwan-2a6873202">Linkedin</a></li>
            <li><a href="https://github.com/Z4nR">Github</a></li>
            <li><a href="mailto:sans.creative.industry@gmail.com">Email</a></li>
        </ul>
    </footer>
</body>
</html>
