<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fully Belly Catalog</title>
</head>
<body>
    <header>
        <div class="header_container">
            <div class="header_inner">
                <h1 class="header_title">
                    Fully Belly Catalog
                </h1>
            </div>

            <a id="menu" class="header_menu">☰</a>
            
            <nav id="drawer" class="nav">
                <ul class="nav_list">
                    <li class="nav_item"><a href="#">Home</a></li>
                    <li class="nav_item"><a href="#">Favorite</a></li>
                    <li class="nav_item"><a href="https://github.com/Z4nR">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="hero">
        <div class="hero_inner">
            <h1 class="hero_title">
                Lapar? Haus?
            </h1>
            <p class="hero_tag">
                Yuk cari tau tempat jajan yang enak dan asik buat kamu sendiri, bareng doi, atau rame-rame
            </p>
        </div>
    </div>
    <main>

    </main>
</body>
</html>
