/* resto detail title */

.detail_resto {
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
}

.detail_resto::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}