@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #424242;
}

/* skip to content */

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
 }

 .skip-link:focus {
    top: 0;
 }

/*header*/

header {
    min-height: 56px;
    transition: min-height 0.3s;
    padding: 16px;
    background-color: #247291;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header_inner {
    display: flex;
    align-items: center;
}

.header_title {
    font-weight: 300;
    font-size: 2em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #f8da5b;
}

.hamburger-container {
    margin: 10px 0 10px 5px;
    display: block;
    width: auto;
    text-align: end;
}

.header_menu {
    font-size: 32px;
    text-decoration: none;
    color: #f8da5b;
}

.nav_list {
    padding: 0;
    margin: 0;
}

.nav_item {
    display: inline-block;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.nav a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: #f8da5b;
}

.nav a:hover {
    text-decoration: underline;
    color: #f8da5b;
}

/* jumbotron */

.hero {
    display: flex;
    align-items: center;
    transition: 0.5s;
    min-height: 380px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background-blend-mode: soft-light;
    background: url('../public/images/heros/hero-image_2.jpg') rgb(73, 73, 73) no-repeat center/cover;
    cursor: pointer;
}

.hero:hover {
    background-size: 120%;
}

.hero_inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero_title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.hero_tag {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
}

/* content */

.content {
    padding: 32px;
}

/* resto tagline */

.resto_list {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.explore_resto {
    font-size: 32px;
    font-weight: lighter;
}

.explore_resto::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

/* resto detail title */

.detail_resto {
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
}

.detail_resto::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

.detail-box {
    max-width: 1000px;
    margin: 0 auto;
}

/* resto list container */

.resto-list, search-list {
    margin: 32px auto auto;
    text-align: left;
    overflow: auto;
}

/* about us */

.about-us {
    padding: 32px;
    transition: 0.5s;
    background-color: #247291;
}

.about {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.about-us-teks {
    font-size: 32px;
    font-weight: lighter;
    color: #fff;
}

.about-us-teks::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

.about_us_figure {
    width: 100%;
    padding: 16px 32px;
}

.about_us_figure img {
    width: 100%;
    border-radius: 5px;
}

.about_us_figure figcaption {
    text-align: center;
    color: darkgray;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    margin-top: 8px;
}

.about_us_content {
    width: 100%;
    padding: 16px 0;
}

.about_us_description {
    text-align: justify;
    margin-top: 12px;
    color: #fff;
}

/* footer */

footer {
    background-color: #247291;
    padding: 2em;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer ul {
    margin: 0 auto;
    display: inline-block;
}

footer li {
    display: inline-block;
    margin: 0 1em;
    font-size: 14px;
}

footer a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: #fff
}

footer a:hover {
    color: #f8da5b;
}

footer i {
    display: inline-block;
    padding: 1.3em;
    color: #fff;
    font-size: 14px;
}

/* like button */

.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #247291;
    color: #f8da5b;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}