@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #424242;
}

/*header*/

header {
    min-height: 56px;
    transition: min-height 0.3s;
    padding: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.header_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header_inner {
    display: flex;
    align-items: center;
}

.header_title {
    font-weight: 300;
    font-size: 2em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #212121;
}

.header_menu {
    font-size: 32px;
    margin: 10px 0 10px 5px;
    display: block;
    text-align: end;
    width: auto;
}

/*navigation*/

.nav_list {
    padding: 0;
    margin: 0;
}

.nav_item {
    display: inline-block;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.nav a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: #616161;
}

.nav a:hover {
    text-decoration: underline;
    color: #000;
}

/*jumbotron*/

.hero {
    display: flex;
    align-items: center;
    transition: 0.5s;
    min-height: 380px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background-blend-mode: soft-light;
    background: url('../public/images/heros/hero-image_2.jpg') rgb(73, 73, 73) no-repeat center/cover;
    cursor: pointer;
}

.hero:hover {
    background-size: 120%;
}

.hero_inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero_title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.hero_tag {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
}

/* content */

.content {
    padding: 32px;
}

/* resto tagline */

.resto_list {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.explore_resto {
    font-size: 32px;
    font-weight: lighter;
}

.explore_resto::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

/* resto list container */

resto-list {
    margin: 32px auto auto;
    text-align: left;
    overflow: auto;
}

/* resto item */

.resto-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.resto-detail {
    padding: 16px;
}

.img-container {
    height: auto;
    width: auto;
}

.resto-location {
    position: absolute;
}

.resto-img {
    width: 100%;
}

.resto-name {
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.resto-rating {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
}

.resto-desc {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5em;
}