resto-list {
    display: grid;
    grid-row-gap: 16px;
}

@media screen and (max-width: 519px) {
    .header_title {
        font-weight: 100;
        font-size: 1.5em;
    }

    .hero {
        transition: 0.5s;
        min-height: 300px;
    }

    .nav {
        margin-top: 80px;
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        left: 0px;

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-320px, 0);
        transform: translate(-320px, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav_item {
        display: list-item;
        list-style-type: none;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }
}

@media screen and (min-width: 520px) {
    .header_menu {
        display: none;
    }
    
    .nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media screen and (min-width: 650px) {

    .resto-detail {
        padding: 16px 32px 32px 32px;
    }

    .resto-name {
        font-size: 18px;
    }

    .resto-desc {
        font-size: 14px;
    }
}

@media screen and (min-width: 700px) {
    resto-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
}

@media screen and (min-width: 800px) {
    .nav_list {
        max-width: 800px;
        margin: auto 0 5px 0;
    }
}

@media screen and (min-width: 900px){
    .resto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
        margin: 0 auto;
    }
}